@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=MedievalSharp&family=Press+Start+2P&family=Uncial+Antiqua&family=UnifrakturMaguntia&family=VT323&display=swap");

.about-me__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  margin-top: 2rem;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

.about-me__content {
  display: flex;
  max-width: 1280px;
  height: 100svh;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.about-me__choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
  height: 50rem;
  border-radius: 20px;
}

.about-me__btns {
  display: flex;
  gap: 1rem;
}

.about-me__info-section {
  background-color: rgb(227, 214, 214);
  border-radius: 20px;
  height: 40rem;
  padding: 2rem;
  font-size: 1rem;
  margin-top: 1.2rem;
}
.about-me__skills-list {
  font-size: 2rem;
}

.about-me__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40rem;
  margin-top: 2.3rem;
}

.about-me__image {
  border-radius: 20px;
  margin-bottom: 2rem;
}

.about-me__info {
  background-color: rgb(190, 175, 175);
  border-radius: 20px;
  padding: 2rem;
  font-size: 1.5rem;
}
