@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=MedievalSharp&family=Press+Start+2P&family=Uncial+Antiqua&family=UnifrakturMaguntia&family=VT323&display=swap");

.about-me__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  margin-top: 2rem;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

.about-me__content {
  display: flex;
  max-width: 1280px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.about-me__choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 30rem;
  height: auto;
  border-radius: 5px;
}

.about-me__btns {
  display: flex;
  gap: 1rem;
}

.about-me__info-section {
  background-color: rgb(227, 214, 214);
  border-radius: 5px;
  height: 40rem;
  padding: 2rem;
  font-size: 1rem;
  margin-top: 1.2rem;
}

.about-me__aside {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-top: 2.3rem;
  background: linear-gradient(
    to bottom,
    rgba(159, 12, 42, 1),
    rgba(145, 11, 39, 1),
    rgba(130, 12, 37, 1),
    rgba(112, 11, 33, 1),
    rgba(93, 8, 27, 1),
    rgba(50, 5, 17, 1)
  );
}

.about-me__image-container {
  padding: 1rem;
}

.about-me__image {
  border-radius: 5px;
}

.about-me__info {
  padding: 2rem;
  font-size: 1.5rem;
  color: rgb(186, 183, 156);
}

@media screen and (max-width: 768px) {
  .about-me__content {
    flex-direction: column;
  }
}
