.contact-page__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.contact-page__content {
  max-width: 1280px;
  height: 100svh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-image: url(/images/scroll-removebg-preview.png);
  background-size: 700px;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem rgb(15, 15, 15));
}

.contact-page__my-info {
  width: 40rem;
}

.contact-page__form-wrapper {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.contact-page__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-page__inputs {
  border: none;
  background: none;
}
