.projects__wrapper {
  display: flex;
  max-width: 1280px;
  height: 100svh;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin-top: 2rem;
}

.project__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}

.projects__section {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 249, 255);
  width: 40rem;
  height: 50rem;
  border-radius: 20px;
}

.projects__side-quest-container {
  border: 1px solid black;
}
