@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=MedievalSharp&family=Press+Start+2P&family=Uncial+Antiqua&family=UnifrakturMaguntia&family=VT323&display=swap");

.projects__wrapper {
  display: flex;
  justify-content: center;
  height: 100svh;
  margin-top: 2rem;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

.projects__content {
  display: flex;
  max-width: 1280px;
  margin: auto;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
  width: 50rem;
}

.project__btns {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.projects__section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 249, 255);
  max-width: 40rem;
  height: 60rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  gap: 1rem;
}

.projects__sideQ-container {
  display: flex;
  padding: 1rem;
  height: 5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.projects__completedQ-container {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .projects__section {
    max-width: 100%;
  }
}
