@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=IM+Fell+English+SC&family=IM+Fell+English:ital@0;1&family=MedievalSharp&family=Press+Start+2P&family=Uncial+Antiqua&family=UnifrakturMaguntia&family=VT323&display=swap");

.intro-page__wrapper {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(255, 18, 63, 1) 0%,
    rgba(219, 16, 55, 1) 12%,
    rgba(187, 16, 50, 1) 20%,
    rgba(159, 12, 42, 1) 30%,
    rgba(145, 11, 39, 1) 41%,
    rgba(130, 12, 37, 1) 48%,
    rgba(112, 11, 33, 1) 55%,
    rgba(93, 8, 27, 1) 65%,
    rgba(50, 5, 17, 1) 100%
  );
}

.intro-page__content {
  max-width: 1280px;
  width: 40rem;
  height: 100svh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.155);
}

.intro-page__dice-container {
  display: flex;
  height: 35rem;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  padding: 1rem;
}
.intro-page__die {
  width: 15rem;
}

.intro-page__darkmode-btn {
  margin-top: 2rem;
}

.intro-page__result {
  margin-top: 2rem;
}
